<div class="container">
<h1>Add dose to <%= @cocktail.name %></h1>

  <div_><%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description, :label => "Add an amount" %>
      <%= f.association :ingredient, as: :select %>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %></div_>
</div>
